/* search book */
.main-content {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}
.main-content__search {
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
/* right */
.main-content__right {
  width: 75%;
  min-height: 100px;
  background-color: #f0f0f0;
}
/* left */
.main-content__left {
  width: 25%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}
.title-search-color {
  color: #c92127;
  font-size: 20px;
  margin-top: 20px;
}
.title {
  font-weight: bold;
}
.title-search {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  border-top: 1px solid #ccc; /* Thanh ngang */
  padding-top: 20px;
  margin: 0 10px;
}
.title-book {
  margin: 10px;
  color: #8c8f90;
}
.title-book:hover {
  color: #bf9a61;
}

/* list book */
.booklist {
  width: 100%;
  min-height: 250px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}

.main-book {
  background-color: #fff;
  max-width: 98%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.03);
}

/* list book */

.main-listBook__content {
  width: 100%;
}

.main-listBook__item {
  margin: 10px 10px;
  border-radius: 1px;
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: repeat(5, 295px);
  background-color: #f0f0f0;
  margin-top: 10px;
}
.main-listBook__item__child {
  background-color: #fff;
  display: flex;
  margin: 3px 3px;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.03);
}
.item__child__title {
  font-size: 16px;
  margin: 5px 5px;
}
.main-listBook__item__child:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.09);
}
.price__book__new {
  display: flex;
  margin: 2px 0;
  align-items: center;
  color: #c92127;
  font-size: 17px;
  font-weight: bold;
}
.price__book__old {
  margin: 2px 0;
  color: #8c8f90;
  font-size: 15px;
  text-decoration: line-through;
}
.promotion {
  margin-left: 10px;
  width: 33px;
  height: 20px;
  font-size: 14px;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c92127;
}

.sold {
  font-size: 13px;
}
.listBook__title {
  width: 100%;
  display: flex;
  margin-top: 55px;
  font-size: 20px;
  justify-content: start;
  align-items: center;
  height: 60px;
  background-color: rgba(95, 156, 63, 0.5);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.icon-book {
  margin: 0 10px;
  width: 35px;
  height: 35px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgba(95, 156, 63, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.listBook {
  width: 150px;
  margin: 15px 0;
}
