/* banner */
.imageBanner img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: top;
  display: block;
}

/* Catelogy */

.booklist {
  width: 100%;
  min-height: 250px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;

  background-color: #f0f0f0;
}

.main-book {
  background-color: #fff;
  max-width: 98%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.03);
}

.main-category__title {
  display: flex;
  justify-content: start !important;
  margin: 5px 5px;
}
.main-category__item {
  display: flex;
  padding: 10px;
}
.title {
  font-size: 22px;
  font-weight: bold;
}

.icon-child {
  color: rgb(95, 156, 63);
  padding-right: 5px;
}
.book {
  width: 120px;
}
.title-book {
  color: #8c8f90;
  font-size: 15px;
  margin: 5px 5px;
}
.title-book:hover {
  color: rgb(95, 156, 63);
}
