/* sugestion */

.booklist {
  width: 100%;
  min-height: 250px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;

  background-color: #f0f0f0;
}

.mainBook {
  background-color: #fff;
  max-width: 98%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.03);
}
.main-bookSuggestions__content {
  background-color: #fff;
}
.main-bookSuggestions__item {
  margin: 10px 10px;
  text-decoration: none;
  border-radius: 1px;
  display: grid;
  grid-template-columns: repeat(5, 240px);
  grid-template-rows: repeat(2, 325px);
  background-color: #f0f0f0;
  margin-top: 10px;
  cursor: pointer;
}
.main-bookSuggestions__item__child:hover {
  text-decoration: none;
}
.item__child__title {
  font-size: 16px;
  margin: 5px 5px;
}
.main-bookSuggestions__item__child {
  background-color: #fff;
  display: flex;
  margin: 3px 3px;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.03);
}
.main-bookSuggestions__item__child:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.09);
}
.title__book {
  text-decoration: none;
  color: #000;
}

.title__book:hover {
  color: rgb(95, 156, 63);
  text-decoration: none;
}
.price__book__new {
  display: flex;
  margin: 10px 0;
  gap: 10px;
  align-items: center;
  color: #c92127;
  font-size: 17px;
  font-weight: bold;
}
.price__book__old {
  margin: 2px 0;
  color: #8c8f90;
  font-size: 15px;
  text-decoration: line-through;
}
.promotion {
  margin-left: 10px;
  width: 33px;
  height: 20px;
  font-size: 14px;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c92127;
}
.listBook {
  width: 150px;
}

.sold {
  font-size: 13px;
}
.main-bookSuggestions__content {
  width: 100%;
}
.bookSuggestions__title {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  height: 75px;
  text-align: center;
  background: linear-gradient(to right, #5f9c3f, #a6e3a1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.icon-book {
  margin: 0 10px;
  width: 35px;
  height: 35px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgba(95, 156, 63, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  /* box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.05); */
}

.title-sugestion {
  color: #fff;
  font-weight: bold;
  font-size: 32px;
}
.right__title {
  font-size: 28px;
  font-weight: 540;
}
.promotion__book {
  width: 45px;
  height: 20px;
  font-size: 18px;
}
.btn {
  width: 200px;
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #5f9c3f;
  color: #5f9c3f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
